.MuiTab-textColorInherit.Mui-selected {
    color: #889DAF;
  }
  
  .MuiTab-textColorInherit:hover {
    color: #7A7668;
  }

.MainColor {
    font-family: 'Cinzel, serif';
}

.drawer {
  position: fixed;
  z-index: 3000;
  opacity: 1;
  transition: opacity 0.5s;
}

.drawer.open {
  opacity: 0;
}